<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/index.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  <title>がくReco</title>
</head>
<body>
  <div class="container">
    <div class="row mt-5 section">
      <h1 class="text-center">学習記録サービス&emsp;がくReco</h1>
    </div>
    <div class="row text-center section">
      <div class="col-12">
        <h2>学習結果</h2>
        <p>日々の学習の結果を記録しよう</p>
      </div>
    </div>
    <div class="row text-center section">
      <div class="col-12">
        <h2>学習投稿</h2>
        <p>どんな学習内容で、どれくらいかかったか？<br/>それと今日の学習の振り返りもあると良いね！</p>
      </div>
    </div>
    <div class="row text-center section">
      <div class="col-12">
        <a class="btn btn-primary" href="">SignUp</a>
      </div>
    </div>
    <div class="row text-center section">
      <div class="col-12">
        <a class="btn btn-success px-3" href="">Login</a>
      </div>
    </div>
  </div>
</body>
</html>